<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Admin Area                     </li>
      <li class="treeview"><a href=""><i class="fa fa-user"></i> <span>Mahasiswa</span>            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/mahasiswa"><i class="fa fa-circle-o"></i>Lihat Mahasiswa</a></li>            
          <li><a href="/mahasiswa/add"><i class="fa fa-circle-o"></i>Tambah Mahasiswa</a></li>
        </ul>
      </li>
      <li class="treeview"><a href="#"><i class="fa fa-user"></i> <span>Users</span>            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/users"><i class="fa fa-circle-o"></i>Lihat User</a></li>            
          <li><a href="/users/add"><i class="fa fa-circle-o"></i>Tambah User</a></li>
        </ul>
      </li>
      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Dosen</span>            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/dosen"><i class="fa fa-circle-o"></i>Lihat Dosen</a></li>
          <li><a href="/dosen/add"><i class="fa fa-circle-o"></i>Tambah Dosen</a></li>
        </ul>
      </li>
      <li class="header">Member Area</li>
      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Program Studi</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/prodi"><i class="fa fa-circle-o"></i>Lihat Program Studi</a></li>            
          <li><a href="/prodi/add"><i class="fa fa-circle-o"></i>Add Program Studi</a></li>
        </ul>
      </li>

      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Jurusan</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/jurusan"><i class="fa fa-circle-o"></i>Lihat Jurusan</a></li>            
          <li><a href="/jurusan/add"><i class="fa fa-circle-o"></i>Add Jurusan</a></li>
        </ul>
      </li>

      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Jalur Masuk</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/jalurmasuk"><i class="fa fa-circle-o"></i>Lihat Jalur Masuk</a></li>            
          <li><a href="/jalurmasuk/add"><i class="fa fa-circle-o"></i>Add Jalur Masuk</a></li>
        </ul>
      </li>


      <li class="header">Member Area</li>
      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Mata Kuliah</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/matakuliah"><i class="fa fa-circle-o"></i>Lihat Mata Kuliah</a></li>            
          <li><a href="/matakuliah/add"><i class="fa fa-circle-o"></i>Add Mata Kuliah</a></li>
        </ul>
      </li>


      <li class="treeview"><a href="#"><i class="fa fa-table"></i> <span>Nilai</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/nilai"><i class="fa fa-circle-o"></i>Lihat Nilai</a></li>            
          <li><a href="/nilai/add"><i class="fa fa-circle-o"></i>Add Nilai</a></li>
        </ul>
      </li>

    </ul>
  </section>
</aside>